.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
eletronproject-darwin-x64/*
eletronproject-win32-x64/*
eletronproject-win32-ia32/*
eletronproject-*-*.*
eletronproject-*-*.*/*
*.zip

!.gitkeep
